
{% extends "feria_ing/base.html" %}
{% block content %}
<h5> Busca un projecto </h5>
  <form method="GET" action = "{% url 'feria_ing-search' %}">
      <input name = "q" class="form-control" type="text" placeholder="Search" aria-label="Search">
  </form>
  <br>
    {% for project in projects %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                Categoria: {{ project.categorias }}
            </div>
            <h2><a class="article-title" href="{% url 'project-detail' project.id %}">{{ project.nombre }}</a></h2>
            <p class="article-content">{{ project.descripcion }}</p>

            {% if type == False %}
              {%if project not in like_list%} 
                <a class="btn btn-success" style="color: white;" href="{% url 'like' project.id%}">Me Gusta</a>
              {%endif%}
            {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}