
{% extends "feria_ing/base.html" %}
{% block content %}
<h1> LEADERBOARD </h1>
  <br>
    <article class="media content-section">
            <table class="table" style="text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Numero de Likes</th>
                        <th scope="col">Categoria</th>
                      </tr>
                    </thead>
                    <tbody>
        
                      <tr>
                        <th scope="row">1</th>
                        <td> <a href="{% url 'project-detail' projects.0.id %}"> {{projects.0.nombre}} </a></td>
                        <td>{{califs.0}}</td>
                        <td>{{projects.0.categorias}}</td>
                      </tr>

                      <tr>
                            <th scope="row">2</th>
                            <td> <a href="{% url 'project-detail' projects.1.id %}"> {{projects.1.nombre}} </a></td>
                            <td>{{califs.1}}</td>
                            <td>{{projects.1.categorias}}</td>
                        </tr>

                        <tr>
                            <th scope="row">3</th>
                            <td> <a href="{% url 'project-detail' projects.2.id %}"> {{projects.2.nombre}} </a></td>
                            <td>{{califs.2}}</td>
                            <td>{{projects.2.categorias}}</td>
                        </tr>

                        <tr>
                                <th scope="row">4</th>
                                <td> <a href="{% url 'project-detail' projects.3.id %}"> {{projects.3.nombre}} </a></td>
                                <td>{{califs.3}}</td>
                                <td>{{projects.3.categorias}}</td>
                            </tr>

                            <tr>
                                <th scope="row">5</th>
                                <td> <a href="{% url 'project-detail' projects.4.id %}"> {{projects.4.nombre}} </a></td>
                                <td>{{califs.4}}</td>
                                <td>{{projects.4.categorias}}</td>
                                </tr>

                            <tr>
                                <th scope="row">6</th>
                                <td> <a href="{% url 'project-detail' projects.5.id %}"> {{projects.5.nombre}} </a></td>
                                <td>{{califs.5}}</td>
                                <td>{{projects.5.categorias}}</td>
                                </tr>

                            <tr>
                                <th scope="row">7</th>
                                <td> <a href="{% url 'project-detail' projects.6.id %}"> {{projects.6.nombre}} </a></td>
                                <td>{{califs.6}}</td>
                                <td>{{projects.6.categorias}}</td>
                            </tr>
                     
                            <tr>
                                <th scope="row">8</th>
                                <td> <a href="{% url 'project-detail' projects.7.id %}"> {{projects.7.nombre}} </a></td>
                                <td>{{califs.7}}</td>
                                <td>{{projects.7.categorias}}</td>
                            </tr>

                            <tr>
                                <th scope="row">9</th>
                                <td> <a href="{% url 'project-detail' projects.8.id %}"> {{projects.8.nombre}} </a></td>
                                <td>{{califs.8}}</td>
                                <td>{{projects.8.categorias}}</td>
                            </tr>

                            <tr>
                                <th scope="row">10</th>
                                <td> <a href="{% url 'project-detail' projects.9.id %}"> {{projects.9.nombre}} </a></td>
                                <td>{{califs.9}}</td>
                                <td>{{projects.9.categorias}}</td>
                            </tr>

                    </tbody>
                  </table>
    </article>
{% endblock content %}