
{% extends "feria_ing/base.html" %}
{% block content %}
  <br>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <h5 class="mr-2"> Categoria:  {{ object.categorias }}</h5>
              <small class="text-muted">Calificaciones: {{ object.evaluaciones }}</small>
              {% if type  %}
                {% if user_current.proyecto == None %}
                &emsp;<a class="btn btn-primary " href="{% url 'unirse_proyecto'%}" onclick="return confirm('Seguro que quieres unirte a este proyecto ?')">Unirse Al Projecto</a>
                {% endif %}
                {% if user_current.proyecto == object %}
                &emsp; <a class="btn btn-danger" style="color: white;" href="{% url 'salir-proyecto'%}" onclick="return confirm('Seguro que quieres salir de este proyecto ?')">Salir de este Projecto</a>
                {% endif %}
              {% else %}
                {% if user_current.profe == True %}
                  {% if evaluated == False%}
                              &emsp; <a class="btn btn-success" style="color: white;" href="{% url 'evaluar'%}" >Evaluar este Proyecto</a>
                  {% endif %}
                {% endif %}
              {%endif%}

              
            </div>
            <h2>{{ object.nombre }}</h2>
            <p class="article-content">{{ object.descripcion }}</p>
            <h5>Integrantes: </h5>

            <ul class="list-group list-group-flush">
                {%for alumno in alumnos%}
                <li class="list-group-item">{{alumno.nombres}} {{alumno.apellidos}} &emsp; {{alumno.carrera}}
                    &emsp; {{alumno.matricula}}
                </li>
                {% endfor %}
              </ul>
          </div>
        </article>
{% endblock content %}